#include "windows.h"
#include "selector_resource.h"

IDD_MAINDLG DIALOGEX 0,0,177,156
CAPTION "Makebat template selector"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|DS_CENTER
EXSTYLE WS_EX_TOOLWINDOW
BEGIN
  CONTROL "",IDC_FILES,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_SORT|LBS_NOTIFY,6,15,165,135,WS_EX_CLIENTEDGE
  CONTROL "Select template and press Enter or use DbClick.", IDC_STC_NOTE, "Static", WS_CHILDWINDOW | WS_VISIBLE, 6, 3, 165, 9
END

