1 VERSIONINFO
    FILEVERSION 1,0,0,0
    PRODUCTVERSION 1,0,0,0
    FILEFLAGSMASK 0x3fL
    FILEFLAGS 0x0L
    FILEOS 0x4L
    FILETYPE 0x1L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Ruslan Zaporojets\0"
            VALUE "FileDescription", "Create make-bat for c/cpp file\0"
            VALUE "FileVersion", "0.4\0"
            VALUE "InternalName", "makebat\0"
            VALUE "LegalCopyright", "Copyright (C) 2014 Ruslan Zaporojets\0"
            VALUE "OriginalFilename", "makebat.exe\0"
            VALUE "ProductName", "MakeBat\0"
            VALUE "ProductVersion", "0.4\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
